.status-button {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.7rem;
  border-radius: 150px;
  font-weight: bold;
  color: white;
  gap: 0.9rem;
  font-size: 9px;
  margin-left: 30px;
  margin-right: 30px;

}

.status-button.accept {
  background-color: #22c55e;
}

.status-button.decline {
    margin-top: 8px;
  background-color: #ef4444;
}

.status-button.change {
  background-color: #d3a92c;

}

.status-icon {
  font-size: 0.8rem;
}
