#item-card {
  width: 16rem;
  border-radius: 0.75rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#item-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

#item-image {
  height: 14rem;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
}



#item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#image-placeholder {
  color: white;
  font-size: 1rem;
}

#item-details {
  padding: 0.75rem;
  background-color: #FCF9F6;
  height: 3.5rem; 
  position: relative;
  overflow: hidden; 
}


#item-name {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2;
  color: #2d3e36;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 2px 0;
}

#item-category {
  font-size: 0.9rem;
  line-height: 1;
  color: #2d3e36;
}

#listed-since {
  font-size: 0.85rem;
  color: #9ca3af;
  position: absolute;
  bottom: 0.2rem;
  right: 0.75rem;
}

.upper-info {
  margin: 0;
  font-size: 0.85rem;
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #FCF9F6;
  border-bottom: 1px solid #e5e7eb;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 12px;
  margin-top: 2px;
}


.distance-info {
  font-size: 15px;
  color: #2d3e36;
}
