.looking-for {
    margin-top: 2px;
  }
  
  .looking-for-title {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1rem;
  }
  
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag {
    background-color: #ddd;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 0.875rem;
  }
  