.search-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 12px;
  border-radius: 999px;
  max-width: 600px;
  width: 100%;
  border: 0.5px solid #2d3e36;
}

.search-input {
  flex: 1;
  border: none;
  background: transparent;
  color: #2d3e36;
  font-size: 16px;
  outline: none;
}

.search-input::placeholder {
  color: #2d3e36;
}

.search-icon {
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #2d3e36;
}

.search-wrapper {
  position: relative; /* חשוב! כי .search-options תהיה אבסולוטית אליו */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
}

.search-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999;
  margin-top: 13px;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;

  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-8px); }
  to   { opacity: 1; transform: translateY(0); }
}