.search-container {
  display: flex;
  align-items: center;
  background-color: #FCF9F6;
  padding: 6px 12px;
  border-radius: 999px;
  max-width: 650px;
  width: 100%;
  border: 0.5px solid #2d3e36;
}
.search-input {
  flex: 1;
  border: none;
  background: transparent;
  color: #2d3e36;;
  font-size: 16px;
  outline: none;
}

.search-input::placeholder {
  color: #2d3e36;
}

.search-icon {
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
  color:#2d3e36;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
}


.search-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.preference-checkbox {
  font-size: 14px;
  color: #2d3e36;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}