.user-info-box-itempage {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0; /* לא צריך padding */
  background: none; /* ביטול רקע */
  box-shadow: none; /* ביטול צל */
  border-radius: 0;
  margin-top: 0;
  min-width: 0;
}

  
  .user-profilePic-itempage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-info-text-itempage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .user-name-itempage {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .user-location-itempage {
    font-size: 0.8rem;
    color: #555;
  }
  
  .user-swaps-itempage {
    font-size: 0.9rem;
    color: #666;
    margin-top: 8px;
  }
  
  .swaps-count-itempage {
    font-weight: bold;
  }