
  .trade-container {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
  }

  .trade-page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  
  .left-panel,
  .right-panel {
    flex: 1;
    padding: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }

  .left-panel {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
  }
  
  .item-card-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  
  .left-panel {
    background-color: #f8f9fa; 
    margin-right: 10px;
  }
  
  .right-panel {
    background-color: #fff;
    border-left: 2px solid #e0e0e0;
  }
  
  .item-box {
    background-color: #e6f7ff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
  }
  
  .my-items label {
    display: block;
    margin-bottom: 10px;
  }
  .item-section {
    width: 100%;
    text-align: center;
  }
  
  .my-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .my-items .item-row {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .bid-button {
    background-color: #4CAF50; /* ירוק */
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .bid-button:hover {
    background-color: #45a049;
  }