
.bids-headers {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 20px;
  padding: 0 20px; 
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bids-headers h3 {
  font-size: 1.2rem;
  font-weight: 800;
  flex: 1;
  text-align: center;
}


.item-pair {
  background-color: #ececec;
  border-radius: 20px;
  display: flex;
  gap: 5rem; 
  justify-content: center;
  margin-bottom: 1.5rem;
}

.bid-row {
  padding: 1rem;
}

.give-item {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.take-item {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile {
  margin-right: 1000px;
}