
.bids-headers {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 20px;
  padding: 0 20px; 
}

.items-container-bid-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.item-pair-bid-center {
  background: linear-gradient(145deg, #fefcf9, #f9f5f0);
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}


.bid-row-bid-center {
  padding: 1rem;
  width: 100%;
  max-width: 1050px;
}

.give-item-bid-center {
  margin-right: 70px;
}

.take-item-bid-center {
  margin-left: 70px;
}


.bids-columns-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.give-column-header{
  color: #2d3e36;
  margin-top: 30px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 95px;
}


.take-column-header {
  color: #2d3e36;
  margin-top: 30px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 508px;
}

.profile-bid-center {
  display: flex;
  padding: 1rem;
  background-color: #fffaf5;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-left: 20px;
}


.swap-icon-center {
  background-color: #f0ebe5;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}