.entry-banner {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1px;
}

.entry-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


#items-bottomline {
  font-family: inter;
  text-align: center;
  font-size: 1.5rem;
  color: #2d3e36;
  margin-top: 50px;
}

