.entry-banner {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 40px;
}

.entry-image {
  width: 100%;
  max-height: 620px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

#items-headline {
  font-family: inter;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: #4b5563;
  margin-top: 40px;
}

#items-bottomline {
  font-family: inter;
  text-align: center;
  font-size: 1.5rem;
  color: #4b5563;
  margin-top: 50px;
}
