.bids-button {
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .bids-button.active {
    align-items: center;
    background-color: #d4d4d4; 
    font-weight: bold;
    border: 1px solid black;
  }
  