.bids-button {
    align-items: center;
    padding: 0.5px 15px;
    margin: 10px;
    background-color: #2A9C64;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
.bids-button.active {
  background-color: #232e29;
  align-items: center;
  border: 1px solid black;
}
  
.button-text {
  color: white; 
}