.bids-button {
    border-radius: 30px;
    align-items: center;
    padding: 0.1px 10px;
    margin: 10px;
    background-color: #2A9C64;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
  }
  
.bids-button.active {
  background-color: #2d3e36;
  align-items: center;
}
  
.button-text {
  margin-left: 3px;
  margin-right: 3px;
  color: white; 
}