.item-details {
    margin-bottom: 20px;
    text-align: left;
}
  
  .item-category {
    color: #888;
    font-size: 18px;
    margin: 0;
  }
  
  .item-name {
    font-size: 32px;
    margin: 5px 0 15px 0;
  }
  
  .item-description-box {
    background-color: #eae7e7;
    padding: 25px;
    border-radius: 10px;
    line-height: 1.7;
    max-width: 600px;
    text-align: left;
  }
  
  .item-description {
    margin: 0;
    font-size: 18px;
    text-align: left;
  }
  